<div class="content" *ngIf="!updateMode">
  <button class="btn btn-outline-primary" (click)="changeView()">{{text}}</button>
</div>

<div class="content"  *ngIf="addView">
  <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h3 class="card-title">Add Service Provider</h3>
        <p class="card-text">
          <form [formGroup]="providersForm" (ngSubmit)="addProvidersToFirebase()">
            
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
            </div>
            
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
            </div>
            
            <div class="mb-3">
              <label for="phone" class="form-label">Phone:</label>
              <input type="text" class="form-control" id="phone" placeholder="phone" formControlName="phone">
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address:</label>
              <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
              </div>
              
            <div class="mb-3">
              <label for="pincode" class="form-label">Pincode:</label>
              <input type="text" class="form-control" id="pincode" placeholder="Pincode" formControlName="pincode">
            </div>

            <div class="mb-3">
              <select class="form-select" formControlName="city">
                <!-- <option>Ludhiana</option>
                <option>Chandigarh</option> -->
                <option *ngFor="let city of cities">
                    {{city.cityName}}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Select Image:</label> <br>
              <input type="file" formControlName="image" accept="image/*" (change)="pickFile($event)">   
            </div>

          <button type="submit" class="btn btn-outline-primary">Add</button>
          </form>
          FORM DATA:
          {{providersForm.value | json}}
      </div>
  </div>
</div>


<div>
  <div class="content" *ngIf="!addView">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let document of providersList">
            <div class="card card_docs">
              <img src="{{document.imageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{document.name}}</h5>
                <p class="card-text"><b>Address: </b>{{document.address}}, {{document.city}}</p>
                <p class="card-text"><b>Pincode: </b>{{document.pincode}}</p>
                <p class="card-text"><b>Contact: </b>{{document.phone}}</p>
                <br>
                <div class="row">
                  <button class="btn btn-outline-primary col-md-4">Packages</button> 
                  <button class="btn btn-outline-primary col-md-4 offset-md-4">Edit Info</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>